<html>
  <head> Welcome ${username} </head>
  <body>


    
    <center><b>
        Welcome User Name ${username} from ${address} <p>
          <a href = "/">HOME</a>
    </b></center>

    
 <hr>
 <center>System Console</center>
<table border="1">
<tr>
<td>System Enabled</td>
<td>${SystemEnabled}</td>
<td>
  <form action="/SystemEnabledButton/", method="post">
    <input name="SystemEnabledButton" value="System Enabled" type="submit">
  </form>
</td>

</tr>
<tr>
<td>LED</td>
<td>${LED}</td>
<td>
  <form action="/LEDButton/", method="post">
    <input name="LEDButton" value="LED" type="submit">
  </form>
</td>

</tr>
<tr>
<td>Motion Sensor Enabled</td>
<td>${MotionSensor}</td>
<td>
  <form action="/MotionSensorEnabledButton/", method="post">
    <input name="MotionSensorEnabledButton" value="Motion Sensor Enabled" type="submit">
  </form>
</td>

</tr>
<tr>
<td>LCD</td>
<td>${LCD}</td>
<td>
  <form action="/LCDButton/", method="post">    
    <input name="LCDButton" value="Update LCD" type="submit">
    <input name ="LCDString" type="text">
  </form>
</td>
</tr>
</table>
<hr>
<center>Button Pressed</center>
<table border=1>
  <tr><td>ID</td><td>Sensor</td><td>Data</td><td>Date</td><td>Time</td></tr>
  
  <tr>
    % for a in last_button: 
    <td>${a}</td>
    % endfor
    
  </tr>
</table>


<hr>
<center>Last Image</center>
Last Image: <img src=${last_image} >

<hr>
<center>Last Tweet</center>
Last Tweet: ${last_twitter}

<hr>
<center>Last SMS</center>
Last SMS: ${last_sms}

<hr>
<center>
  <a href="logout">logout</a>
  </center>
  </body>
</html>
